# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
.env*

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.hdf5

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp
*.swp
*.swo

# Ignore data folder except sample_logs.csv
!data/sample_logs.csv
